* {
  margin: 0;
  padding: 0;
}

#page {
  max-width: 1340px;
}
@media all and (min-width: 1340px) {
  #page {
    margin: auto;
  }
}

body {
  box-sizing: border-box;
}

h1, h2 {
  font-family: "roboto", sans-serif;
  font-size: 1.5rem;
}

h3, p {
  font-family: "roboto", sans-serif;
  font-size: 1rem;
}

.footer--logo {
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-weight: bold;
}

li {
  font-family: "roboto", sans-serif;
}

button {
  font-family: "roboto", sans-serif;
  border-radius: 50px;
  border: 2px solid #9356DC;
  background-color: #9356DC;
  color: white;
  box-shadow: 0px 5px 5px rgba(197, 197, 197, 0.7);
  transition: background-color 1000ms, border-color 1000ms, box-shadow 1000ms 500ms;
}
button:hover {
  background-color: #ae80e5;
  border-color: #ae80e5;
  box-shadow: 0px 5px 5px #797979;
}

@keyframes menu {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
header {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media all and (min-width: 769px) {
  header {
    padding: 50px;
  }
}
header img {
  width: 50%;
}
header .fas {
  position: absolute;
  left: 20px;
  top: 40%;
}
@media all and (min-width: 768px) {
  header .fas {
    font-size: x-large;
    top: 45%;
  }
}
@media all and (min-width: 1024px) {
  header .fas {
    font-size: xx-large;
  }
}
header a {
  color: black;
}

footer {
  padding: 20px;
  background-color: #353535;
  color: white;
}
@media all and (min-width: 1024px) {
  footer {
    margin-top: 20px;
  }
}
footer ul {
  list-style-type: none;
}
@media all and (min-width: 768px) {
  footer ul {
    display: flex;
    justify-content: space-around;
  }
}
footer ul li {
  padding: 5px 0;
}
footer ul .fa-utensils {
  padding-right: 8px;
  font-size: 10px;
}
footer ul .fa-hands-helping {
  padding-right: 5px;
  font-size: 9px;
}
footer ul a {
  text-decoration: none;
  color: white;
}

@media all and (min-width: 1024px) {
  .accueil {
    display: flex;
  }
}

@media all and (min-width: 1024px) {
  .head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
    box-shadow: 0px 0px 5px grey;
    border-radius: 20px;
    overflow: hidden;
  }
}
.head__localisation {
  display: flex;
  flex-direction: column;
  background: #f6f6f6;
  font-family: "roboto", sans-serif;
}
.head__localisation__map {
  font-size: 1.1rem;
  padding: 15px;
  background-color: #eaeaea;
  box-shadow: 0px -5px 0px #ebe6e6;
  display: flex;
  justify-content: flex-start;
}
.head__localisation__map i {
  padding-left: 90px;
}
.head__localisation__map--texte {
  padding-left: 15px;
  font-weight: bold;
}
.head__localisation__presentation {
  padding: 50px 35px;
  text-align: center;
}
.head__localisation__presentation p {
  padding: 10px 10px 20px 10px;
}
.head__localisation__button {
  margin-top: 10px;
  padding: 15px 30px;
  font-family: "roboto", sans-serif;
  border-radius: 50px;
  border: 2px solid #9356DC;
  background-color: #9356DC;
  color: white;
  box-shadow: 0px 5px 5px rgba(197, 197, 197, 0.7);
  transition: background-color 1000ms, border-color 1000ms, box-shadow 1000ms 500ms;
}

@media all and (min-width: 1024px) {
  .head {
    margin-left: 10px;
  }
}
.head__fonctionnement {
  max-width: 375px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 700px) {
  .head__fonctionnement {
    margin: auto;
  }
}
.head__fonctionnement h2 {
  padding: 20px 0;
}
@media all and (min-width: 700px) {
  .head__fonctionnement h2 {
    padding: 20px 70px;
  }
}
.head__fonctionnement__primary-choice {
  background-color: #f6f6f6;
  padding: 30px;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  position: relative;
}
.head__fonctionnement__primary-choice:hover {
  background-color: #f5edff;
}
.head__fonctionnement__primary-choice:hover i {
  color: #9356DC;
}
.head__fonctionnement__primary-choice--number_one {
  padding: 5px 10px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  position: absolute;
  left: -12px;
}
.head__fonctionnement__primary-choice i {
  padding: 0 10px;
  color: grey;
}
.head__fonctionnement__primary-choice h3 {
  padding: 0 20px;
}
.head__fonctionnement__secondary-choice {
  background-color: #f6f6f6;
  padding: 30px;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  position: relative;
}
.head__fonctionnement__secondary-choice:hover {
  background-color: #f5edff;
}
.head__fonctionnement__secondary-choice:hover i {
  color: #9356DC;
}
.head__fonctionnement__secondary-choice--number_two {
  padding: 5px 10px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  position: absolute;
  left: -12px;
}
.head__fonctionnement__secondary-choice i {
  padding: 0 10px;
  color: grey;
}
.head__fonctionnement__secondary-choice h3 {
  padding: 0 20px;
}
.head__fonctionnement__tertiary-choice {
  background-color: #f6f6f6;
  padding: 30px;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  position: relative;
}
.head__fonctionnement__tertiary-choice:hover {
  background-color: #f5edff;
}
.head__fonctionnement__tertiary-choice:hover i {
  color: #9356DC;
}
.head__fonctionnement__tertiary-choice--number_three {
  padding: 5px 10px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  position: absolute;
  left: -12px;
}
.head__fonctionnement__tertiary-choice i {
  padding: 0 10px;
  color: grey;
}
.head__fonctionnement__tertiary-choice h3 {
  padding: 0 20px;
}

.menu {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}
@media all and (min-width: 1024px) {
  .menu {
    padding: 50px 0px;
    margin: 20px 20px;
    justify-content: space-evenly;
    box-shadow: 0px 0px 5px grey;
    border-radius: 20px;
  }
}
.menu h2 {
  padding-bottom: 10px;
}
@media all and (min-width: 768px) {
  .menu h2 {
    text-align: center;
  }
}
@media all and (min-width: 440px) {
  .menu .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.menu .container__carte {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 5px grey;
  margin: 10px;
}
@media all and (min-width: 400px) {
  .menu .container__carte {
    max-width: 500px;
  }
}
@media all and (min-width: 1024px) {
  .menu .container__carte {
    max-width: 400px;
  }
}
@media all and (min-width: 1270px) {
  .menu .container__carte {
    max-width: 350px;
  }
}
.menu .container__carte--photo {
  height: 175px;
  display: flex;
}
.menu .container__carte--photo img {
  width: 100%;
  object-fit: cover;
}
.menu .container__carte__description {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.menu .container__carte__description span {
  padding: 5px;
  background-color: #99E2D0;
  color: darkgreen;
  position: absolute;
  right: 15px;
  bottom: 185px;
}
.menu .container__carte__description i {
  padding-right: 10px;
}

@media all and (min-width: 1025px) {
  .photo-menu {
    display: flex;
  }
}

.image {
  width: 100%;
}
@media all and (min-width: 1025px) {
  .image {
    width: unset;
  }
}
.image img {
  width: 100%;
  object-fit: cover;
}

.francaise {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  margin-top: -50px;
  overflow: overlay;
}
@media all and (min-width: 1025px) {
  .francaise {
    margin-top: unset;
    overflow: unset;
  }
}
.francaise__titre {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.francaise__titre h2 {
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-weight: bold;
}
.francaise__titre i {
  padding-right: 20px;
  font-size: 2rem;
}

.choix {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.choix__entrees {
  padding: 10px;
  min-width: 355px;
}
.choix__entrees--titre {
  padding: 10px;
  text-transform: uppercase;
}
.choix__entrees--titre p {
  padding-bottom: 5px;
}
.choix__entrees--barre {
  border: 2px solid #99E2D0;
  width: 40px;
}
.choix__entrees__poulpe {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__entrees__poulpe--texte {
  padding: 10px;
}
.choix__entrees__poulpe--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__entrees__veloute {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__entrees__veloute--texte {
  padding: 10px;
}
.choix__entrees__veloute--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__entrees__soupe {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__entrees__soupe--texte {
  padding: 10px;
}
.choix__entrees__soupe--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__plats {
  padding: 10px;
}
.choix__plats--titre {
  padding: 10px;
}
.choix__plats--titre p {
  padding-bottom: 5px;
}
.choix__plats--barre {
  border: 2px solid #99E2D0;
  width: 40px;
}
.choix__plats__coquilles {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__plats__coquilles--texte {
  padding: 10px;
}
.choix__plats__coquilles--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__plats__magret {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__plats__magret--texte {
  padding: 10px;
}
.choix__plats__magret--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__plats__pigeonneau {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__plats__pigeonneau--texte {
  padding: 10px;
}
.choix__plats__pigeonneau--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__desserts {
  padding: 10px;
}
.choix__desserts--titre {
  padding: 10px;
}
.choix__desserts--titre p {
  padding-bottom: 5px;
}
.choix__desserts--barre {
  border: 2px solid #99E2D0;
  width: 40px;
}
.choix__desserts__violettes {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__desserts__violettes--texte {
  padding: 10px;
}
.choix__desserts__violettes--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__desserts__fondant {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__desserts__fondant--texte {
  padding: 10px;
}
.choix__desserts__fondant--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__desserts__millefeuille {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__desserts__millefeuille--texte {
  padding: 10px;
}
.choix__desserts__millefeuille--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__container {
  min-width: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 50px 0;
}
.choix__container__button {
  padding: 15px 55px;
  font-family: "roboto", sans-serif;
  border-radius: 50px;
  border: 2px solid #9356DC;
  background-color: #9356DC;
  color: white;
  box-shadow: 0px 5px 5px rgba(197, 197, 197, 0.7);
  transition: background-color 1000ms, border-color 1000ms, box-shadow 1000ms 500ms;
}

@media all and (min-width: 1025px) {
  .photo-menu {
    display: flex;
  }
}

.enchantee-image {
  width: 100%;
}
@media all and (min-width: 1025px) {
  .enchantee-image {
    width: unset;
  }
}
.enchantee-image img {
  width: 100%;
  object-fit: cover;
}

.enchantee {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  margin-top: -170px;
  overflow: overlay;
}
@media all and (min-width: 1025px) {
  .enchantee {
    margin-top: unset;
    overflow: unset;
  }
}
.enchantee__titre {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.enchantee__titre h2 {
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-weight: bold;
}
.enchantee__titre i {
  padding-right: 20px;
  font-size: 2rem;
}

.choix {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.choix__entrees {
  padding: 10px;
  min-width: 355px;
}
.choix__entrees--titre {
  padding: 10px;
  text-transform: uppercase;
}
.choix__entrees--titre p {
  padding-bottom: 5px;
}
.choix__entrees--barre {
  border: 2px solid #99E2D0;
  width: 40px;
}
.choix__entrees__ravioles {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__entrees__ravioles--texte {
  padding: 10px;
}
.choix__entrees__ravioles--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__entrees__caviar {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__entrees__caviar--texte {
  padding: 10px;
}
.choix__entrees__caviar--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__entrees__homard-espuma {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__entrees__homard-espuma--texte {
  padding: 10px;
}
.choix__entrees__homard-espuma--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__entrees__canard-cuit {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__entrees__canard-cuit--texte {
  padding: 10px;
}
.choix__entrees__canard-cuit--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__plats {
  padding: 10px;
}
.choix__plats--titre {
  padding: 10px;
}
.choix__plats--titre p {
  padding-bottom: 5px;
}
.choix__plats--barre {
  border: 2px solid #99E2D0;
  width: 40px;
}
.choix__plats__saintjacques {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__plats__saintjacques--texte {
  padding: 10px;
}
.choix__plats__saintjacques--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__plats__langoustine {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__plats__langoustine--texte {
  padding: 10px;
}
.choix__plats__langoustine--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__plats__queue {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__plats__queue--texte {
  padding: 10px;
}
.choix__plats__queue--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__desserts {
  padding: 10px;
}
.choix__desserts--titre {
  padding: 10px;
}
.choix__desserts--titre p {
  padding-bottom: 5px;
}
.choix__desserts--barre {
  border: 2px solid #99E2D0;
  width: 40px;
}
.choix__desserts__macaronnoisette {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__desserts__macaronnoisette--texte {
  padding: 10px;
}
.choix__desserts__macaronnoisette--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__desserts__baba {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__desserts__baba--texte {
  padding: 10px;
}
.choix__desserts__baba--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__desserts__tartecitron {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__desserts__tartecitron--texte {
  padding: 10px;
}
.choix__desserts__tartecitron--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__container {
  min-width: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 50px 0;
}
.choix__container__button {
  padding: 15px 55px;
  font-family: "roboto", sans-serif;
  border-radius: 50px;
  border: 2px solid #9356DC;
  background-color: #9356DC;
  color: white;
  box-shadow: 0px 5px 5px rgba(197, 197, 197, 0.7);
  transition: background-color 1000ms, border-color 1000ms, box-shadow 1000ms 500ms;
}

@media all and (min-width: 1025px) {
  .photo-menu {
    display: flex;
  }
}

.image {
  width: 100%;
}
@media all and (min-width: 1025px) {
  .image {
    width: unset;
  }
}
.image img {
  width: 100%;
  object-fit: cover;
}

.delice {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  margin-top: -50px;
  overflow: overlay;
}
@media all and (min-width: 1025px) {
  .delice {
    margin-top: unset;
    overflow: unset;
  }
}
.delice__titre {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.delice__titre h2 {
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-weight: bold;
}
.delice__titre i {
  padding-right: 20px;
  font-size: 2rem;
}

.choix {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.choix__entrees {
  padding: 10px;
  min-width: 355px;
}
.choix__entrees--titre {
  padding: 10px;
  text-transform: uppercase;
}
.choix__entrees--titre p {
  padding-bottom: 5px;
}
.choix__entrees--barre {
  border: 2px solid #99E2D0;
  width: 40px;
}
.choix__entrees__tartare {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__entrees__tartare--texte {
  padding: 10px;
}
.choix__entrees__tartare--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__entrees__bouchee {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__entrees__bouchee--texte {
  padding: 10px;
}
.choix__entrees__bouchee--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__entrees__cepes {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__entrees__cepes--texte {
  padding: 10px;
}
.choix__entrees__cepes--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__plats {
  padding: 10px;
}
.choix__plats--titre {
  padding: 10px;
}
.choix__plats--titre p {
  padding-bottom: 5px;
}
.choix__plats--barre {
  border: 2px solid #99E2D0;
  width: 40px;
}
.choix__plats__poulet {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__plats__poulet--texte {
  padding: 10px;
}
.choix__plats__poulet--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__plats__langoustine-rotie {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__plats__langoustine-rotie--texte {
  padding: 10px;
}
.choix__plats__langoustine-rotie--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__plats__angus {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__plats__angus--texte {
  padding: 10px;
}
.choix__plats__angus--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__desserts {
  padding: 10px;
}
.choix__desserts--titre {
  padding: 10px;
}
.choix__desserts--titre p {
  padding-bottom: 5px;
}
.choix__desserts--barre {
  border: 2px solid #99E2D0;
  width: 40px;
}
.choix__desserts__farandole {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__desserts__farandole--texte {
  padding: 10px;
}
.choix__desserts__farandole--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__desserts__brulee {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__desserts__brulee--texte {
  padding: 10px;
}
.choix__desserts__brulee--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__desserts__tiramisu {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__desserts__tiramisu--texte {
  padding: 10px;
}
.choix__desserts__tiramisu--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__container {
  min-width: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 50px 0;
}
.choix__container__button {
  padding: 15px 55px;
  font-family: "roboto", sans-serif;
  border-radius: 50px;
  border: 2px solid #9356DC;
  background-color: #9356DC;
  color: white;
  box-shadow: 0px 5px 5px rgba(197, 197, 197, 0.7);
  transition: background-color 1000ms, border-color 1000ms, box-shadow 1000ms 500ms;
}

@media all and (min-width: 1025px) {
  .photo-menu {
    display: flex;
  }
}

.image {
  width: 100%;
}
@media all and (min-width: 1025px) {
  .image {
    width: unset;
    /* pour placer l'image */
  }
}
.image img {
  width: 100%;
  object-fit: cover;
}
@media all and (min-width: 1025px) {
  .image img {
    width: 99%;
    border-radius: 40px;
  }
}

.palette {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  margin-top: -50px;
  overflow: overlay;
}
@media all and (min-width: 1025px) {
  .palette {
    margin-top: unset;
    overflow: unset;
  }
}
.palette__titre {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.palette__titre h2 {
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-weight: bold;
}
.palette__titre i {
  padding-right: 20px;
  font-size: 2rem;
}

.choix {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.choix__entrees {
  padding: 10px;
  min-width: 355px;
}
.choix__entrees--titre {
  padding: 10px;
  text-transform: uppercase;
}
.choix__entrees--titre p {
  padding-bottom: 5px;
}
.choix__entrees--barre {
  border: 2px solid #99E2D0;
  width: 40px;
}
.choix__entrees__escargot {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__entrees__escargot--texte {
  padding: 10px;
}
.choix__entrees__escargot--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__entrees__foiegras {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__entrees__foiegras--texte {
  padding: 10px;
}
.choix__entrees__foiegras--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__entrees__oeuf {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__entrees__oeuf--texte {
  padding: 10px;
}
.choix__entrees__oeuf--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__plats {
  padding: 10px;
  min-width: 355px;
}
.choix__plats--titre {
  padding: 10px;
  text-transform: uppercase;
}
.choix__plats--titre p {
  padding-bottom: 5px;
}
.choix__plats--barre {
  border: 2px solid #99E2D0;
  width: 40px;
}
.choix__plats__herbes {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__plats__herbes--texte {
  padding: 10px;
}
.choix__plats__herbes--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__plats__parmentier {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__plats__parmentier--texte {
  padding: 10px;
}
.choix__plats__parmentier--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__plats__turbot {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__plats__turbot--texte {
  padding: 10px;
}
.choix__plats__turbot--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__desserts {
  padding: 10px;
  min-width: 355px;
}
.choix__desserts--titre {
  padding: 10px;
  text-transform: uppercase;
}
.choix__desserts--titre p {
  padding-bottom: 5px;
}
.choix__desserts--barre {
  border: 2px solid #99E2D0;
  width: 40px;
}
.choix__desserts__parisbrest {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__desserts__parisbrest--texte {
  padding: 10px;
}
.choix__desserts__parisbrest--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__desserts__chocolat {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__desserts__chocolat--texte {
  padding: 10px;
}
.choix__desserts__chocolat--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__desserts__mousse {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: menu 4s;
}
.choix__desserts__mousse--texte {
  padding: 10px;
}
.choix__desserts__mousse--prix {
  padding: 10px;
  font-weight: bold;
}
.choix__container {
  min-width: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 50px 0;
}
.choix__container__button {
  padding: 15px 55px;
  font-family: "roboto", sans-serif;
  border-radius: 50px;
  border: 2px solid #9356DC;
  background-color: #9356DC;
  color: white;
  box-shadow: 0px 5px 5px rgba(197, 197, 197, 0.7);
  transition: background-color 1000ms, border-color 1000ms, box-shadow 1000ms 500ms;
}

/*# sourceMappingURL=style.css.map */
