* {
  margin: 0;
  padding: 0;
}

#page {
  max-width: 1340px;
}
@media all and (min-width: 1340px) {
  #page {
    margin: auto;
  }
}

body {
  box-sizing: border-box;
}

h1 {
  font-family: "roboto", sans-serif;
  font-size: 1.5rem;
}

h2 {
  font-family: "roboto", sans-serif;
  font-size: 1.5rem;
}

h3 {
  font-family: "roboto", sans-serif;
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

.footer--logo, .francaise--titre-menu {
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-weight: bold;
}

header {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header img {
  width: 50%;
}
header .fas {
  position: absolute;
  left: 20px;
}
@media all and (min-width: 769px) {
  header .fas {
    font-size: x-large;
  }
}

footer {
  padding: 20px;
  background-color: #353535;
  color: white;
}
footer ul {
  list-style-type: none;
}
@media all and (min-width: 400px) {
  footer ul {
    text-align: center;
  }
}
footer ul li {
  padding: 5px 0;
}
footer ul .fa-utensils {
  padding-right: 8px;
  font-size: 10px;
}
footer ul .fa-hands-helping {
  padding-right: 5px;
  font-size: 9px;
}

.localisation {
  display: flex;
  flex-direction: column;
  background: #f6f6f6;
  font-family: "roboto", sans-serif;
}
.localisation__map {
  font-size: 1.1rem;
  padding: 15px;
  background-color: #eaeaea;
  box-shadow: 0px -5px 0px #ebe6e6;
  display: flex;
  justify-content: flex-start;
}
.localisation__map i {
  padding-left: 90px;
}
.localisation__map__texte {
  padding-left: 15px;
  font-weight: bold;
}
.localisation__presentation {
  padding: 50px 35px;
  text-align: center;
}
.localisation__presentation__texte {
  padding: 10px 10px 20px 10px;
}
.localisation__button {
  padding: 15px;
  border-radius: 50px;
  border: 2px solid darkorchid;
  background: darkorchid;
  box-shadow: 0px 5px 5px #b9b7b7;
}
.localisation__button p {
  color: white;
  font-size: 0.9rem;
  font-family: "roboto", sans-serif;
}

.fonctionnement h2 {
  padding: 20px 0;
}

.fonctionnement {
  max-width: 375px;
  padding: 15px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.fonctionnement__primary-choice {
  background-color: #f6f6f6;
  padding: 30px;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  position: relative;
}
.fonctionnement__primary-choice__number_one {
  padding: 5px 10px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  position: absolute;
  left: -12px;
}
.fonctionnement__primary-choice i {
  padding: 0 10px;
  color: grey;
}
.fonctionnement__primary-choice h3 {
  padding: 0 20px;
}
.fonctionnement__secondary-choice {
  background-color: #f6f6f6;
  padding: 30px;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  position: relative;
}
.fonctionnement__secondary-choice__number_two {
  padding: 5px 10px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  position: absolute;
  left: -12px;
}
.fonctionnement__secondary-choice i {
  padding: 0 10px;
  color: grey;
}
.fonctionnement__secondary-choice h3 {
  padding: 0 20px;
}
.fonctionnement__tertiary-choice {
  background-color: #f6f6f6;
  padding: 30px;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  position: relative;
}
.fonctionnement__tertiary-choice__number_three {
  padding: 5px 10px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  position: absolute;
  left: -12px;
}
.fonctionnement__tertiary-choice i {
  padding: 0 10px;
  color: grey;
}
.fonctionnement__tertiary-choice h3 {
  padding: 0 20px;
}

.menu {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}
.menu h2 {
  padding-bottom: 10px;
}

@media all and (min-width: 440px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.container__carte {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 5px grey;
  margin: 10px;
}
@media all and (min-width: 400px) {
  .container__carte {
    max-width: 400px;
  }
}
.container__carte--photo {
  height: 175px;
  display: flex;
}
.container__carte--photo img {
  width: 100%;
  object-fit: cover;
}
.container__carte__description {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.container__carte__description span {
  padding: 5px;
  background-color: #99E2D0;
  color: darkgreen;
  position: absolute;
  right: 15px;
  bottom: 185px;
}
.container__carte__description i {
  padding-right: 10px;
}

.francaise {
  background-color: #f6f6f6;
}
.francaise__image {
  width: 100%;
}
.francaise__image img {
  width: 100%;
  object-fit: cover;
}
.francaise__carte {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  position: relative;
  top: -50px;
}
.francaise__carte__head {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.francaise__entrees {
  padding: 10px;
}
.francaise__entrees--titre {
  padding: 10px;
}
.francaise__entrees--titre p {
  padding-bottom: 5px;
}
.francaise__entrees--barre {
  border: 2px solid #99E2D0;
  width: 40px;
}
.francaise__entrees__poulpe {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.francaise__entrees__poulpe--texte {
  padding: 10px;
}
.francaise__entrees__poulpe--prix {
  padding: 10px;
  font-weight: bold;
}
.francaise__entrees__veloute {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.francaise__entrees__veloute--texte {
  padding: 10px;
}
.francaise__entrees__veloute--prix {
  padding: 10px;
  font-weight: bold;
}
.francaise__entrees__soupe {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.francaise__entrees__soupe--texte {
  padding: 10px;
}
.francaise__entrees__soupe--prix {
  padding: 10px;
  font-weight: bold;
}
.francaise__plats {
  padding: 10px;
}
.francaise__plats--titre {
  padding: 10px;
}
.francaise__plats--titre p {
  padding-bottom: 5px;
}
.francaise__plats--barre {
  border: 2px solid #99E2D0;
  width: 40px;
}
.francaise__plats__coquilles {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.francaise__plats__coquilles--texte {
  padding: 10px;
}
.francaise__plats__coquilles--prix {
  padding: 10px;
  font-weight: bold;
}
.francaise__plats__magret {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.francaise__plats__magret--texte {
  padding: 10px;
}
.francaise__plats__magret--prix {
  padding: 10px;
  font-weight: bold;
}
.francaise__plats__pigeonneau {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.francaise__plats__pigeonneau--texte {
  padding: 10px;
}
.francaise__plats__pigeonneau--prix {
  padding: 10px;
  font-weight: bold;
}
.francaise__desserts {
  padding: 10px;
}
.francaise__desserts--titre {
  padding: 10px;
}
.francaise__desserts--titre p {
  padding-bottom: 5px;
}
.francaise__desserts--barre {
  border: 2px solid #99E2D0;
  width: 40px;
}
.francaise__desserts__violettes {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.francaise__desserts__violettes--texte {
  padding: 10px;
}
.francaise__desserts__violettes--prix {
  padding: 10px;
  font-weight: bold;
}
.francaise__desserts__fondant {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.francaise__desserts__fondant--texte {
  padding: 10px;
}
.francaise__desserts__fondant--prix {
  padding: 10px;
  font-weight: bold;
}
.francaise__desserts__millefeuille {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.francaise__desserts__millefeuille--texte {
  padding: 10px;
}
.francaise__desserts__millefeuille--prix {
  padding: 10px;
  font-weight: bold;
}

.enchantee {
  background-color: #f6f6f6;
}
.enchantee__image {
  width: 100%;
}
.enchantee__image img {
  width: 100%;
  object-fit: cover;
}
.enchantee__carte {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  position: relative;
  top: -50px;
}
.enchantee__carte__head {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.enchantee__entrees {
  padding: 10px;
}
.enchantee__entrees--titre {
  padding: 10px;
}
.enchantee__entrees--titre p {
  padding-bottom: 5px;
}
.enchantee__entrees--barre {
  border: 2px solid #99E2D0;
  width: 40px;
}
.enchantee__entrees__ravioles {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.enchantee__entrees__ravioles--texte {
  padding: 10px;
}
.enchantee__entrees__ravioles--prix {
  padding: 10px;
  font-weight: bold;
}
.enchantee__entrees__caviar {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.enchantee__entrees__caviar--texte {
  padding: 10px;
}
.enchantee__entrees__caviar--prix {
  padding: 10px;
  font-weight: bold;
}
.enchantee__entrees__homard-espuma {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.enchantee__entrees__homard-espuma--texte {
  padding: 10px;
}
.enchantee__entrees__homard-espuma--prix {
  padding: 10px;
  font-weight: bold;
}
.enchantee__entrees__canard-cuit {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.enchantee__entrees__canard-cuit--texte {
  padding: 10px;
}
.enchantee__entrees__canard-cuit--prix {
  padding: 10px;
  font-weight: bold;
}
.enchantee__plats {
  padding: 10px;
}
.enchantee__plats--titre {
  padding: 10px;
}
.enchantee__plats--titre p {
  padding-bottom: 5px;
}
.enchantee__plats--barre {
  border: 2px solid #99E2D0;
  width: 40px;
}
.enchantee__plats__saintjacques {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.enchantee__plats__saintjacques--texte {
  padding: 10px;
}
.enchantee__plats__saintjacques--prix {
  padding: 10px;
  font-weight: bold;
}
.enchantee__plats__langoustine {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.enchantee__plats__langoustine--texte {
  padding: 10px;
}
.enchantee__plats__langoustine--prix {
  padding: 10px;
  font-weight: bold;
}
.enchantee__plats__queue {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.enchantee__plats__queue--texte {
  padding: 10px;
}
.enchantee__plats__queue--prix {
  padding: 10px;
  font-weight: bold;
}
.enchantee__desserts {
  padding: 10px;
}
.enchantee__desserts--titre {
  padding: 10px;
}
.enchantee__desserts--titre p {
  padding-bottom: 5px;
}
.enchantee__desserts--barre {
  border: 2px solid #99E2D0;
  width: 40px;
}
.enchantee__desserts__macaronnoisette {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.enchantee__desserts__macaronnoisette--texte {
  padding: 10px;
}
.enchantee__desserts__macaronnoisette--prix {
  padding: 10px;
  font-weight: bold;
}
.enchantee__desserts__baba {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.enchantee__desserts__baba--texte {
  padding: 10px;
}
.enchantee__desserts__baba--prix {
  padding: 10px;
  font-weight: bold;
}
.enchantee__desserts__tartecitron {
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 2px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.enchantee__desserts__tartecitron--texte {
  padding: 10px;
}
.enchantee__desserts__tartecitron--prix {
  padding: 10px;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
