@keyframes menu {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }

}

@keyframes cercle-loader {
    from {
        transform: rotate(0turn)
    }

    to {
        transform: rotate(3turn);
    }
}

@keyframes loader {
    0% {
        opacity: 1;

    }

    50% {
        opacity: 1;
    }

    95% {
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-2000px);
    }
}

@keyframes tarif {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50px);
    }
}

@keyframes rotation {
    0% {

        transform: translateX(50px) rotate(0turn);
    }

    100% {
        transform: translateX(-35px) rotate(2turn);
    }
}

@keyframes pointiller {
    0% {
        width: 300px;
    }

    50% {
        width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    100% {
        width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}