.photo-menu {
    @media all and (min-width: 1025px) {
        display: flex;
    }
}

.image {
    // width: 100%;

    @media all and (min-width: 1025px) {
        width: unset;
    }

    & img {
        width: 100%;
        object-fit: cover;

        @media all and (min-width: 1025px) {
            width: 99%;
            height: 100%;
        }
    }

}

.francaise {
    background-color: $color-background;
    border-radius: 40px 40px 0 0;
    margin-top: -50px;
    overflow: overlay;

    @media all and (min-width: 1025px) {
        margin-top: unset;
        overflow: unset;
    }


    &__titre {

        padding: 20px;
        display: flex;
        justify-content: space-between;

        & h2 {
            @include shrikhand;
        }

        & .coeur {
            background-color: $color-background;
            border-color: transparent;
            outline: 0;
            /* retire la bordure du bouton à la selection */

            & i {
                font-size: 2rem;
                position: relative;
                z-index: 1;
                cursor: pointer;

                &:hover {
                    /* active */

                    &:after {
                        transform: scaleY(1);
                        opacity: 1;
                    }
                }

            }
        }

        & i:after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            opacity: 0;
            background-image: url(../../public/img/coeur/heart-solid.svg);
            background-repeat: no-repeat;
            transform-origin: center center;
            transform: scaleY(0);
            transition: transform 2000ms, opacity 500ms;

        }
    }
}

.choix {
    @include choix;

    &__entrees {
        padding: 10px;
        max-width: 355px;

        &--titre {
            padding: 10px;
            text-transform: uppercase;

            & p {
                padding-bottom: 5px;
            }
        }

        &--barre {
            border: 2px solid #{$color-tertiary};
            width: 40px;
        }



        &__poulpe {
            @include choix-assiette;
            @include validation;
            animation: menu 8s 2s backwards;

            &:hover {
                & .choix__entrees__poulpe--prix {
                    animation: tarif 1s $delay forwards;
                }

                & h3,
                h3+p {
                    animation: pointiller 1s $delay forwards;
                    // @media all and ( max-width: 374px) {
                    //     width: 250px;
                    // }
                }
            }
        }

        &__veloute {
            @include choix-assiette;
            @include validation;
            animation: menu 6s 2s backwards;

            &:hover {
                & .choix__entrees__veloute--prix {
                    animation: tarif 1s $delay forwards;
                }

                & h3,
                h3+p {
                    animation: pointiller 1s $delay forwards;
                }
            }
        }

        &__soupe {
            @include choix-assiette;
            @include validation;
            animation: menu 4s 2s backwards;

            &:hover {
                & .choix__entrees__soupe--prix {
                    animation: tarif 1s $delay forwards;
                }

                & h3,
                h3+p {
                    animation: pointiller 1s $delay forwards;
                }
            }
        }
    }

    &__plats {
        padding: 10px;
        max-width: 355px;

        &--titre {
            padding: 10px;

            & p {
                padding-bottom: 5px;
            }
        }

        &--barre {
            border: 2px solid #{$color-tertiary};
            width: 40px;
        }

        &__coquilles {
            @include choix-assiette;
            @include validation;
            animation: menu 8s 2s backwards;

            &:hover {
                & .choix__plats__coquilles--prix {
                    animation: tarif 1s $delay forwards;
                }

                & h3,
                h3+p {
                    animation: pointiller 1s $delay forwards;
                }
            }
        }

        &__magret {
            @include choix-assiette;
            @include validation;
            animation: menu 6s 2s backwards;

            &:hover {
                & .choix__plats__magret--prix {
                    animation: tarif 1s $delay forwards;
                }

                & h3,
                h3+p {
                    animation: pointiller 1s $delay forwards;
                }
            }
        }

        &__pigeonneau {
            @include choix-assiette;
            @include validation;
            animation: menu 4s 2s backwards;

            &:hover {
                & .choix__plats__pigeonneau--prix {
                    animation: tarif 1s $delay forwards;
                }

                & h3,
                h3+p {
                    animation: pointiller 1s $delay forwards;
                }
            }
        }
    }

    &__desserts {
        padding: 10px;
        max-width: 355px;

        &--titre {
            padding: 10px;

            & p {
                padding-bottom: 5px;
            }
        }

        &--barre {
            border: 2px solid #{$color-tertiary};
            width: 40px;
        }

        &__violettes {
            @include choix-assiette;
            @include validation;
            animation: menu 8s 2s backwards;

            &:hover {
                & .choix__desserts__violettes--prix {
                    animation: tarif 1s $delay forwards;
                }

                & h3,
                h3+p {
                    animation: pointiller 1s $delay forwards;
                }
            }
        }

        &__fondant {
            @include choix-assiette;
            @include validation;
            animation: menu 6s 2s backwards;

            &:hover {
                & .choix__desserts__fondant--prix {
                    animation: tarif 1s $delay forwards;
                }

                & h3,
                h3+p {
                    animation: pointiller 1s $delay forwards;
                }
            }
        }

        &__millefeuille {
            @include choix-assiette;
            @include validation;
            animation: menu 4s 2s backwards;

            &:hover {
                & .choix__desserts__millefeuille--prix {
                    animation: tarif 1s $delay forwards;
                }

                & h3,
                h3+p {
                    animation: pointiller 1s $delay forwards;
                }
            }
        }
    }

    &__container {
        @include container-bouton;

        &__button {
            padding: 15px 55px;
        }
    }
}