.photo-menu {
    @media all and (min-width: 1025px) {
        display: flex;
    }
}

.image {
    width: 100%;

    @media all and (min-width: 1025px) {
        width: unset;
    }

    & img {
        width: 100%;
        object-fit: cover;
    }

}

.francaise {
    background-color: $color-background;
    border-radius: 40px 40px 0 0;
    margin-top: -50px;
    overflow: overlay;

    @media all and (min-width: 1025px) {
        margin-top: unset;
        overflow: unset;
    }


    &__titre {
        
        padding: 20px;
        display: flex;
        justify-content: space-between;
        & h2 {
            @include shrikhand;
        }
        & i {
            padding-right: 20px;
            font-size: 2rem;
        }
    }
}

.choix {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__entrees {
        padding: 10px;
        min-width: 355px;

        &--titre {
            padding: 10px;
            text-transform: uppercase;

            & p {
                padding-bottom: 5px;
            }
        }

        &--barre {
            border: 2px solid #{$color-tertiary};
            width: 40px;
        }

        &__poulpe {
            @include choix-assiette;

            &--texte {
                padding: 10px;
            }

            &--prix {
                padding: 10px;
                font-weight: bold;
            }
        }

        &__veloute {
            @include choix-assiette;

            &--texte {
                padding: 10px;
            }

            &--prix {
                padding: 10px;
                font-weight: bold;
            }
        }

        &__soupe {
            @include choix-assiette;

            &--texte {
                padding: 10px;
            }

            &--prix {
                padding: 10px;
                font-weight: bold;
            }
        }
    }

    &__plats {
        padding: 10px;

        &--titre {
            padding: 10px;

            & p {
                padding-bottom: 5px;
            }
        }

        &--barre {
            border: 2px solid #{$color-tertiary};
            width: 40px;
        }

        &__coquilles {
            @include choix-assiette;

            &--texte {
                padding: 10px;
            }

            &--prix {
                padding: 10px;
                font-weight: bold;
            }
        }

        &__magret {
            @include choix-assiette;

            &--texte {
                padding: 10px;
            }

            &--prix {
                padding: 10px;
                font-weight: bold;
            }
        }

        &__pigeonneau {
            @include choix-assiette;

            &--texte {
                padding: 10px;
            }

            &--prix {
                padding: 10px;
                font-weight: bold;
            }
        }
    }

    &__desserts {
        padding: 10px;

        &--titre {
            padding: 10px;

            & p {
                padding-bottom: 5px;
            }
        }

        &--barre {
            border: 2px solid #{$color-tertiary};
            width: 40px;
        }

        &__violettes {
            @include choix-assiette;

            &--texte {
                padding: 10px;
            }

            &--prix {
                padding: 10px;
                font-weight: bold;
            }
        }

        &__fondant {
            @include choix-assiette;

            &--texte {
                padding: 10px;
            }

            &--prix {
                padding: 10px;
                font-weight: bold;
            }
        }

        &__millefeuille {
            @include choix-assiette;

            &--texte {
                padding: 10px;
            }

            &--prix {
                padding: 10px;
                font-weight: bold;
            }
        }
    }

}