.francaise {
    background-color: $color-background;

    &__image {
        width: 100%;

        & img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__carte {
        background-color: $color-background;
        border-radius: 40px 40px 0 0;
        position: relative;
        top: -50px;

        &__head {
            padding: 20px;
            display: flex;
            justify-content: space-between;
        }
    }


    &__entrees {
        padding: 10px;

        &--titre {
            padding: 10px;

            & p {
                padding-bottom: 5px;
            }
        }

        &--barre {
            border: 2px solid #{$color-tertiary};
            width: 40px;
        }

        &__poulpe {
            @include choix-assiette;

            &--texte {
                padding: 10px;
            }

            &--prix {
                padding: 10px;
                font-weight: bold;
            }
        }

        &__veloute {
            @include choix-assiette;

            &--texte {
                padding: 10px;
            }

            &--prix {
                padding: 10px;
                font-weight: bold;
            }
        }

        &__soupe {
            @include choix-assiette;

            &--texte {
                padding: 10px;
            }

            &--prix {
                padding: 10px;
                font-weight: bold;
            }
        }
    }

    &__plats {
        padding: 10px;

        &--titre {
            padding: 10px;

            & p {
                padding-bottom: 5px;
            }
        }

        &--barre {
            border: 2px solid #{$color-tertiary};
            width: 40px;
        }

        &__coquilles {
            @include choix-assiette;

            &--texte {
                padding: 10px;
            }

            &--prix {
                padding: 10px;
                font-weight: bold;
            }
        }

        &__magret {
            @include choix-assiette;

            &--texte {
                padding: 10px;
            }

            &--prix {
                padding: 10px;
                font-weight: bold;
            }
        }

        &__pigeonneau {
            @include choix-assiette;

            &--texte {
                padding: 10px;
            }

            &--prix {
                padding: 10px;
                font-weight: bold;
            }
        }
    }

    &__desserts {
        padding: 10px;

        &--titre {
            padding: 10px;

            & p {
                padding-bottom: 5px;
            }
        }

        &--barre {
            border: 2px solid #{$color-tertiary};
            width: 40px;
        }

        &__violettes {
            @include choix-assiette;

            &--texte {
                padding: 10px;
            }

            &--prix {
                padding: 10px;
                font-weight: bold;
            }
        }

        &__fondant {
            @include choix-assiette;

            &--texte {
                padding: 10px;
            }

            &--prix {
                padding: 10px;
                font-weight: bold;
            }
        }

        &__millefeuille {
            @include choix-assiette;

            &--texte {
                padding: 10px;
            }

            &--prix {
                padding: 10px;
                font-weight: bold;
            }
        }
    }

}