.palette {
    background-color: $color-background;

    &__image {
        width: 100%;

        & img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__carte {
        background-color: $color-background;
        border-radius: 40px 40px 0 0;
        position: relative;
        top: -50px;

        &__head {
            padding: 20px;
            display: flex;
            justify-content: space-between;
        }
    }


    &__entrees {
        padding: 10px;

        &--titre {
            padding: 10px;

            & p {
                padding-bottom: 5px;
            }
        }

        &--barre {
            border: 2px solid #{$color-tertiary};
            width: 40px;
        }

        &__escargot {
            @include choix-assiette;

            &--texte {
                padding: 10px;
            }

            &--prix {
                padding: 10px;
                font-weight: bold;
            }
        }

        &__foiegras {
            @include choix-assiette;

            &--texte {
                padding: 10px;
            }

            &--prix {
                padding: 10px;
                font-weight: bold;
            }
        }

        &__oeuf {
            @include choix-assiette;

            &--texte {
                padding: 10px;
            }

            &--prix {
                padding: 10px;
                font-weight: bold;
            }
        }
    }

    &__plats {
        padding: 10px;

        &--titre {
            padding: 10px;

            & p {
                padding-bottom: 5px;
            }
        }

        &--barre {
            border: 2px solid #{$color-tertiary};
            width: 40px;
        }

        &__herbes {
            @include choix-assiette;

            &--texte {
                padding: 10px;
            }

            &--prix {
                padding: 10px;
                font-weight: bold;
            }
        }

        &__parmentier {
            @include choix-assiette;

            &--texte {
                padding: 10px;
            }

            &--prix {
                padding: 10px;
                font-weight: bold;
            }
        }

        &__turbot {
            @include choix-assiette;

            &--texte {
                padding: 10px;
            }

            &--prix {
                padding: 10px;
                font-weight: bold;
            }
        }
    }

    &__desserts {
        padding: 10px;

        &--titre {
            padding: 10px;

            & p {
                padding-bottom: 5px;
            }
        }

        &--barre {
            border: 2px solid #{$color-tertiary};
            width: 40px;
        }

        &__parisbrest {
            @include choix-assiette;

            &--texte {
                padding: 10px;
            }

            &--prix {
                padding: 10px;
                font-weight: bold;
            }
        }

        &__chocolat {
            @include choix-assiette;

            &--texte {
                padding: 10px;
            }

            &--prix {
                padding: 10px;
                font-weight: bold;
            }
        }

        &__mousse {
            @include choix-assiette;

            &--texte {
                padding: 10px;
            }

            &--prix {
                padding: 10px;
                font-weight: bold;
            }
        }
    }

}